<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coche</title>
</head>
<body>
    <% coches.forEach(coche => { %>

       <h1>Coche N° <%= coche.id %></h1>
       <br>
       <p>marca:<%= coche.marca %></p>
       <p>marca:<%= coche.anio %></p>
       <p>marca:<%= coche.color %></p> 

    <% });  %>
    
</body>
</html>