<!DOCTYPE html>
<html lang="en">
<head><%- include('../partials/head.ejs') %></head>
<body>
     <header><%- include('../partials/header.ejs') %></header>


    <h1>Hola desde ejs</h1>
    <p>Programacion</p>

    <footer><%- include('../partials/footer.ejs') %></footer>
</body>
</html>